<#@ template debug="false" hostspecific="true" language="C#" #>
<#@ output extension=".cs" #>
<#@ assembly name="$(SolutionDir)\src\Dibix.Sdk.VisualStudio\bin\Debug\net472\Dibix.Sdk.VisualStudio.dll" #>
<#@ assembly name="$(SolutionDir)\src\Dibix.Sdk\bin\Debug\netstandard2.0\Dibix.Sdk.dll" #>
<#@ assembly name="netstandard" #>
<#@ import namespace="Dibix.Sdk.CodeGeneration" #>
<#@ import namespace="Dibix.Sdk.VisualStudio" #><#

string output = TextTemplateCodeGenerator.Generate
(
    this.Host
  , (IServiceProvider)this.Host
  , cfg => cfg.AddSource("Dibix.Sdk.Tests.Database", x =>
              {
                  x.SelectFolder("Tests/Parser")
                   .SelectParser<SqlStoredProcedureParser>(y =>
                   {
                       y.Formatter<GenerateScriptSqlStatementFormatter>(); // Uses sql dom script generator
                   });
              })
              .SelectOutputWriter<DaoWriter>(x => { x.Formatting(CommandTextFormatting.Verbatim); })
);

Write(output);

#>