# Build results
[Bb]in/
[Oo]bj/

# User-specific files
*.suo

# Visual Studio cache/options directory
.vs/

# ReSharper
*.DotSettings.user

# SSDT
*.dbmdl
*.jfm
*.sqlproj.user

# MacOS cache
.DS_Store