<#@ template debug="false" hostspecific="true" language="C#" #>
<#@ output extension=".cs" #>
<#@ assembly name="$(SolutionDir)\src\Dibix.Sdk\bin\Debug\net46\Dibix.Sdk.dll" #>
<#@ import namespace="Dibix.Sdk.CodeGeneration" #><#

GeneratorConfiguration configuration = GeneratorConfigurationBuilder.FromTextTemplate(this.Host, (IServiceProvider)this.Host)
    .Configure(cfg => cfg.AddSource("Dibix.Sdk.Tests.Database", x =>
                         {
                             x.SelectFolder("Tests/Parser")
                              .SelectParser<SqlStoredProcedureParser>(y =>
                              {
                                  y.Formatter<GenerateScriptSqlStatementFormatter>(); // Uses sql dom script generator
                              });
                         })
                         .SelectOutputWriter<DaoWriter>(x => { x.Formatting(CommandTextFormatting.Verbatim); })
    );

ICodeGenerator generator = CodeGeneratorFactory.FromTextTemplate(configuration, this.Host, (IServiceProvider)this.Host);
string output = generator.Generate();

Write(output);

#>