<#@ template debug="false" hostspecific="true" language="C#" #>
<#@ output extension=".cs" #>
<#@ assembly name="$(SolutionDir)\src\Dibix.Sdk\bin\Debug\net451\Dibix.Sdk.dll" #>
<#@ assembly name="$(SolutionDir)\src\Dibix.Sdk\bin\Debug\net451\Microsoft.SqlServer.TransactSql.ScriptDom.dll" #>
<#@ import namespace="Dibix.Sdk.CodeGeneration" #><#

string output = SqlAccessorGenerator.FromVisualStudio(this.Host, (IServiceProvider)this.Host)
                                    .AddSource("Dibix.Sdk.Tests.Database", x => 
                                    {
										x.SelectFolder(null, "Lint", "Tables", "Tests/Parser", "Tests/Sources/Excluded", "Tests/Sources/dbx_tests_sources_externalsp")
										 .SelectFile("Tests/Sources/Excluded/Nested/dbx_tests_sources_excludednested.sql")
										 .SelectParser<SqlStoredProcedureParser>(y => 
										 {
										     y.Formatter<TakeSourceSqlStatementFormatter>();
										 });
									})
                                    .AddSource(x =>
                                    {
                                        x.SelectFile(@"..\Dibix.Sdk.Tests.Database\Tests\Sources\dbx_tests_sources_externalsp.sql")
                                         .SelectParser<SqlStoredProcedureParser>(y =>
                                         {
                                             y.Formatter<ExecStoredProcedureSqlStatementFormatter>();
                                         });
                                    })
                                    .SelectOutputWriter<SqlDaoWriter>(x => 
									{
										x.Namespace("This.Is.A.Custom.Namespace")
                                         .ClassName("Accessor")
                                         .Formatting(SqlQueryOutputFormatting.Verbatim);
									})
                                    .Generate();
Write(output);

#>